.H1 {
	text-align: center;
	text-decoration: underline;
}

.Card {
	border-radius: 10px;
	width: 40%;
	height: 230px;
	display: flex;
	align-items: center;
	background-color: teal;
	color: white;
	font-size: 20px;
	box-shadow: 0px 2px 30px black;
	margin: 30px auto;
}

.img1 {
	width: 200px;
	height: 200px;
	margin: 0px 50px 0px 15px;
	border-radius: 10px;
}

.Follow_Card_Parent {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}

.Follow_Card {
	border-radius: 10px;
	width: 40%;
	height: 230px;
	display: flex;
	align-items: center;
	background-color: teal;
	color: white;
	font-size: 20px;
	box-shadow: 0px 5px 30px black;
	margin: 30px auto;
}
